<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cobook.buddywisdom.mentee.mapper.MenteeScheduleMapper">

    <select id="findAllByMenteeIdAndPossibleDateTime" parameterType="map" resultType="MenteeMonthlySchedule">
        SELECT ms.coaching_schedule_id,
               cs.possible_date_time
        FROM mentee_schedule ms
        JOIN coaching_schedule cs
            ON ms.coaching_schedule_id = cs.id
        WHERE mentee_id = #{menteeId}
            AND cs.possible_date_time BETWEEN #{startDateTime} AND #{endDateTime}
    </select>

    <select id="findByMenteeIdAndCoachingScheduleId" parameterType="map" resultType="MenteeScheduleFeedback">
        SELECT ms.coaching_schedule_id,
               cs.possible_date_time,
               fb.id AS feedback_id,
               fb.coach_feedback,
               fb.mentee_feedback
        FROM mentee_schedule ms
        JOIN coaching_schedule cs
            ON ms.coaching_schedule_id = cs.id
        LEFT JOIN feedback fb
            ON ms.coaching_schedule_id = fb.mentee_schedule_id
        WHERE ms.mentee_id = #{menteeId}
            AND ms.coaching_schedule_id = #{coachingScheduleId}
    </select>

    <select id="findByCoachingScheduleId" parameterType="map" resultType="MenteeSchedule">
        SELECT coaching_schedule_id,
               mentee_id
        FROM mentee_schedule
        WHERE coaching_schedule_id = #{coachingScheduleId}
    </select>

    <insert id="save" parameterType="MenteeSchedule" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO mentee_schedule(coaching_schedule_id, mentee_id)
        VALUES (#{coachingScheduleId}, #{menteeId})
    </insert>

</mapper>
