<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cobook.buddywisdom.mentee.mapper.MenteeMapper">

    <update id="deleteMentee" parameterType="map">
        UPDATE member
        SET active_yn = #{active_yn}
        WHERE id = #{menteeId}
    </update>

</mapper>