<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cobook.buddywisdom.coach.mapper.CoachScheduleMapper">

    <select id="findByIdAndMatchYn" parameterType="map" resultType="CoachSchedule">
        SELECT id,
               coach_id,
               possible_date_time,
               match_yn
        FROM coaching_schedule
        WHERE id = #{id}
            AND match_yn = #{matchYn}
    </select>

    <select id="findAllByCoachId" parameterType="map" resultType="CoachSchedule">
        SELECT id,
               coach_id,
               possible_date_time,
               match_yn
        FROM coaching_schedule
        WHERE coach_id = #{id}
    </select>

    <update id="setMatchYn" parameterType="map">
        UPDATE coaching_schedule
        SET match_yn = #{matchYn}
        WHERE id = #{id}
    </update>

</mapper>
