<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cobook.buddywisdom.member.mapper.MemberMapper">

    <insert id="createMember" parameterType="map" useGeneratedKeys="true" keyProperty="id">
        <selectKey resultType="long" keyProperty="id" order="BEFORE">
            SELECT MAX(id)+1 AS ID FROM member
        </selectKey>
        INSERT INTO member
        (id
        , name
        , nickname
        , email
        , password
        , phone_number
        , role
        , active_yn
        , created_at
        )
        VALUES (#{id}
        , #{name}
        , #{nickname}
        , #{email}
        , #{password}
        , #{phoneNumber}
        , #{role}
        , #{activeYn}
        , #{createdAt}
        );
    </insert>

    <select id="findByEmail" parameterType="String" resultType="AuthMember">
        SELECT
            m.id
             , m.email
             , m.password
             , m.role
        FROM member m
        WHERE m.email = #{email}
    </select>

    <select id="findById" parameterType="long" resultType="Member">
        SELECT
            id,
            email,
            password,
            name,
            nickname,
            phone_number,
            role,
            active_yn,
            created_at,
            updated_at
        FROM member
        WHERE id = #{id}
    </select>

    <update id="deleteMember" parameterType="map">
        UPDATE member
           SET active_yn = #{activeYn}
         WHERE id = #{memberId}
    </update>

</mapper>
